<html>


{% load staticfiles %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>
<div class ="page-header">
    <h1>Some Questions About Tottenham  <img src="{% static 'players/images/tottenham1.png' %}" id="logo1" ></h1>
</div>
{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><h2><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></h2></li>
    {% endfor %}
	</ul>

{% else %}
    <p>No polls are available.</p>
{% endif %}
<span class = "bb2">
<a href="{% url 'players:index' %}"><button type="button" class="button1">Tottenham Players Database</button></a>
</span>
</html>