{% load staticfiles %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>
<div class="page-header">
<h1>{{ question.question_text }}  <img src="{% static 'players/images/tottenham1.png' %}" id="logo1" ></h1>
</div>
<ul>
{% for choice in question.choice_set.all %}
    <li>{{ choice.choice_text }} -- {{ choice.votes }} vote{{ choice.votes|pluralize }}</li>
{% endfor %}
</ul>

<h1>
    Top Answer:
    {{ high_text }}
</h1>
<h2></h2>
<a href="{% url 'polls:detail' question.id %}"><button type="button" class="button1">Vote again?</button></a>
<a href="{% url 'polls:index' %}"><button type="button" class="button1">Home</button></a>