

.hoverTable{
		width:100%;
		border-collapse:collapse;

	}
.hoverTable th{
text-align:center;
}
	.hoverTable td{
		padding:30px; border:#4e95f4 1px solid;
	}
	/* Define the default color for all the table rows */
	.hoverTable tr{
		background: #95C6E2 ;
		border:#4e95f4 2px solid;
	}
	/* Define the hover highlight color for the table row */
    .hoverTable td:hover {
          background-color:azure;
          }
	.button1{
  font: bold 16px;
  text-decoration: none;
  background-color: #95C6E2;
  color: #333333;
  padding: 5px 20px 5px 20px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
  font-family: 'Lobster';
  text-align: center;
  	vertical-align: middle;

		
}
body {

	background color:beige;
	position: relative;
}

body h2{
font-family: 'Lobster';
}
.page-header{

}
.bb1{
padding-left: 8%;
}

#logo1{
	max-height: 50px;
}
body h1{
font-family: 'Lobster';
}
.bb1{
text-align: center;
	vertical-align: middle;
}
.bb2{
top:0;
right:0;
padding-left: 50%;
}

#myInput {
    background-image: url('images/tottenham1.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}
