body {
    margin-left:30px;
    font-family:"tahoma";
}
body li{
list-style-type: none;
}
body h1{
font-family: 'Lobster';
margin-left:30px;
}
body a{
color: black;
size: 16px;
}
#logo1{
	max-height: 50px;
}
.bb2{
top:0;
right:0;
padding-left: 5%;
}
.bb2 button{
background: #95C6E2;
}
body form{
margin-left:20px;
}
.body1{
margin-left:20px;
}
#vote{
}