{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'players/style.css' %}" />
<link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'players/addcss.css' %}" />
</head>
<div class ="page-header">
    <h1>Delete Player  <img src="{% static 'players/images/tottenham1.png' %}" id="logo1" ></h1>
</div>
<form method="post">{% csrf_token %}
    Are you sure you want to delete "{{ object }}" ?
    <input type="submit" value="Submit" />
</form>