{% load staticfiles %}
<html>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'players/style.css' %}" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">

</head>
<div class="container">
    <div class="page-header">
        <h2>Tottenham Players Database  <img src="{% static 'players/images/tottenham1.png' %}" id="logo1" ></h2>

    </div>
    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search by Surnames..">
    <span class = "bb1">
        <a href="{% url 'players:add' %}"><button type="button" class="button1">Add new player</button></a>
        </span>
    <span class = "bb2">
    <a href="{% url 'polls:index' %}"><button type="button" class="button1">Vote on your favourite players</button></a>
</span>

<br>
    <br>
<table class="hoverTable" id="myTable">
    <tr class="header">
        <th>First name</th>
        <th>Surname</th>
        <th>Shirt Number</th>
        <th>Age</th>
        <th>Position</th>
        <th>Goals scored this season (16/17)</th>
        <th>Date Joined</th>
        <th>Delete Field</th>
        <th>Edit Field</th>

    </tr>
    {% for player in player_list %}
    <tr>
        <td> {{ player.forename }} </td>
        <td>{{ player.player_name }}</td>
        <td>{{ player.shirt_number }} </td>
        <td>{{ player.player_age}} </td>
        <td>{{ player.player_position}} </td>
        <td>{{ player.goals_this_season}} </td>
        <td>{{ player.date_joined}} </td>
        <td><a href="{% url 'players:player_delete' player.pk %}"> Delete </a></td>
        <td><a href="{% url 'players:player_update' player.pk %}"> Edit </a></td>
    </tr>
    {% endfor %}
</table>
</div>
<script src="{% static 'players/js/table.js' %}" type="text/javascript"></script>
</html>
