{% load staticfiles %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'players/style.css' %}" />
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'players/addcss.css' %}" />
</head>
<div class ="page-header">
<h1>Edit Player  <img src="{% static 'players/images/tottenham1.png' %}" id="logo1" ></h1>
</div>
<form method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit" />
</form>